body{
    font-family: "微軟正黑體",sans-serif;
    overflow-x: hidden;
    height: 100vh;
}
a{
   text-decoration: none;
   transition: 0.5s; 
}
img{
    width: 100%;
}
p{
    line-height: 1.6;
}

.a-it-c{
    align-items: center;
}
.ta-c{
    text-align: center;
}
.j-c-bt{
    justify-content: space-between;
}
.j-c-c{
    justify-content: center;
}
.ps-r{
    position: relative;
}
.ps-a{
    position: absolute;
}
.ta-c{
    text-align: center;
}
.h-100{
    height: 100vh;
}
.h-80{
    height: 80vh;
}
.h-50{
    height: 50vh;
}
.w-100{
    width: 100%;
}
.p-t-2{
    padding-top: 2rem;
}
.p-t-6{
    padding-top: 6rem;
}
.p-b-2{
    padding-bottom: 2rem;
}
.text-all{
    color: #002634;
}
.text-orange{
    color: #d97b00;
}
.b-r-5{
    border-radius: 5ch;
}
/* header */
.logo{
    height: 10vh;
    width: auto;
    margin: 1rem 0.4rem 0.2rem 2.7rem;
}
@media (max-width:576px) {
    .logo{
        min-width: 20ch;
        height: auto;
        margin: 1rem 0.4rem 0.2rem 2.7rem;
    }
}
@media (max-width:768px) {
    .logo{
        min-width: 20ch;
        height: auto;
        margin: 1rem 0.4rem 0.2rem 2.7rem;
    }
}

.header-area{
    top:0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 10;
}
.box{
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.navbar-nav{
    padding-top: 1rem;
}
.navbar-nav a:hover{
    color: #d97b00;
    border-bottom: 1px solid #d97b00;
    padding-bottom: 5px;
}
.header-text{
    color: #002634;
    font-weight: 600;
    font-size: 2.3ch;
}
.nav-item{
    margin: 0.5rem;
}
ul li{
    list-style: none;
}



/* 輪播圖 */

.slidshow{
    z-index: 1;
}
.slides-img{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; 
    overflow:hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}
.slide-content h3{
    font-size: 3rem;
    color: #ffffff;
    font-weight: 700;
}
.slide-content p{
    font-size: 1.4rem;
    line-height: 3;
    color: #ffffff;
    font-weight: 500;
}
.link-btn{
    padding: 0.7rem 3rem;
    border: 3px solid #723401;
    border-radius: 1ch;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: #002634;
    color: #ffffff;
}
.slide-btn a:hover{
    color: #ffffff;
    background-color: #723401;
}

#contact{
    background-color: #723401;
    min-width: 100%;
    width: 50vh;
}
/* main */
#attractions{
    height: 100vh;
    background-color: #eeeeee;
}
.about-nav{
    margin: 10rem 0 10rem 0;
}
.title{
    font-weight: 600;
    font-size: 4ch;
}
.scape{
    margin-top: 5ch;
    margin-bottom: 10ch;
    height: 300px;
    text-align: center;
    display: block;
    max-width: 100%;
}
.view-nav{
    height: auto;
}
iframe{
    width: 100%;
}
#guide-traffic p{
    color: #305d60;
    margin-top: 3ch;
    font-size: 1.4rem;
}
.flower-line{
    border-top: 2px dashed #ff8e75;
    border-bottom:2px dashed #19d9df;
    
}
/* footer */
.footer-title{
    font-size: 1.8rem;
    font-weight: bolder;
    letter-spacing: 2px;
    color: #723401;
}
.footer-nav li{
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
}
.footer-content ul{
    padding-left: 0.4rem;
}
.footer-nav li a{
    color: #002634;
    font-weight: 700;
}
footer li{
    line-height: 1.8;
}
footer li span{
    font-weight: 700;
}
footer li span::after{
    content: "：";
}
.line{
    height: 1px;
    border-bottom: 1px solid #723401;
}
.copyright-text{
    font-size: 0.8rem;
}
/* media */
@media(max-width:576px){
    .header-text{
        display:none;
    }
    #attractions{
        height: 900px;
        border-radius: 5ch;
    }
    .scape-nav{
        height: auto;
    }
    .scape{
    margin-top: 2ch;
    margin-bottom: 0ch;
    height: auto;
    }
    .box ul{
        display:none;
    }
}
@media(min-width:992px) {
    footer br{
        display: none;
    }
@media (max-width:1199px) {
    .link-list{
        background-color: antiquewhite;
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: none;
    }
    menu{
        display: none;
    }
    menu ul{
        z-index: 3;
        flex-direction: column;
        line-height: 2;
        justify-content: center;
        display: none;
    }
}

